{
  "extends": "prettier",
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "quotes": ["error", "single"]
  }
}
